<DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>

  <!-- jQuery -->
  <script src="../../assets/vendors/jquery-3.3.1.js"></script>

  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="navbar">
      <div id="logo">
        <%= link_to root_path do %>
          <a class="site-logo" href="https://sekemilio.herokuapp.com">
            <img src="https://lh3.googleusercontent.com/I6nED3vu0FHg_gNRkeBapA010i-XcLMswRji_hqIdjMCpQlb6K1yjfKS1hxxdHFh1H5n8seAvyeqdulQMuwSk41LkbF0C-fWC4NAZa23g8fDlC2FeQqBVekFoPyB89_vFQqk30PQSg=w2400"/>
          </a>
        <% end %>
      </div>


    <ul class="navbar-links">
      <!-- <li class="category">Website</li> -->
      <li><%= link_to "Blog", root_path %></li> 
      <li><%= link_to "Quotes", quotes_path %></li>
      <li><%= link_to "About", about_path %></li>
      

      <li><a href="mailto:emiliosoto4@gmail.com">Email</a></li>

<!-- Social Media Icons -->
      <li><a href="https://github.com/SanctusDecadere">
          <i class="fa fa-github" aria-hidden="true"></i></a>
      </li>

      <li><a href="https://www.facebook.com/emilio.soto.79">
          <i class="fa fa-facebook-official" aria-hidden="true"></i></a>
      </li>

      <li><a href="https://twitter.com/SanctusDecadere">
          <i class="fa fa-twitter" aria-hidden="true"></i></a>
      </li>

      <li><a href="https://www.instagram.com/sanctusdecadere/">
          <i class="fa fa-instagram" aria-hidden="true"></i></a>
      </li>
    </ul>


    <% if !user_signed_in? %>
    <p class="sign-in"><%= link_to "Sign in", new_user_session_path %></p>
    <% end %>
</div>



  <div id="main-content-header">
    <div id="header">
      <% if current_page?(root_path) %>
        <p>All Posts</p>
      <% elsif current_page?(about_path) %>
        <p>About</p>
      <% else %>
        <%= link_to "Back to All Posts", root_path %>
      <% end %>

     



    <% if user_signed_in? %>
        <div class="buttons">
          <button class="button"><%= link_to "New Post", new_post_path %></button>
          <button class="button"><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></button>
        </div>
    <% end %>
    </div>

    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert") %>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>